<div class="sheet-row">
  <div class="sheet-col-3-8 sheet-core-stat-label"><%= full_name %></div>
  <div class="sheet-col-1-8"><input type="number" name="attr_<%= attr_name %>" min="1" step="1"></div>
  <div class="sheet-col-1-8"><input type="number" name="attr_<%= attr_name %>Max" min="1" step="1"></div>
  <div class="sheet-col-1-8"><input class="sheet-center" type="number" name="attr_<%= attr_name %>Mod" readonly="readonly"></div>
  <div class="sheet-col-1-8 sheet-center">
    <button type='roll' class="sheet-core-check" value="&{template:DccTabbed} {{background=[[5]]}} {{stat=1}} {{name=@{character_name}}} {{title=<%= attr_name.upcase %> Check - 1d20}} {{hint=TRAINED:  0-level occupation determines the basic skills you can use or if the skill is something that any adult could have a reasonable chance of attempting.}} {{rolltype=Trained : }} {{ability=[[1d20 + [[@{<%= attr_name %>Mod}]] [Stat Mod] ]]}} {{abilityscore=[[@{<%= attr_name %>}]]}} {{warningthreshold=[[<%= local_assigns.fetch(:warning_threshold, "") %>]]}} {{warning=<%= local_assigns.fetch(:warning, "") %>}}" name='<%= attr_name.upcase %>' title="Trained <%= attr_name.upcase %> Skill">T</button>
  </div>
  <div class="sheet-col-1-8 sheet-center">
    <button type='roll' class="sheet-core-check" value="&{template:DccTabbed} {{background=[[6]]}} {{stat=1}} {{name=@{character_name}}} {{title=<%= attr_name.upcase %> Check - 1d10}} {{hint=UNTRAINED:  If your character’s background does not support a skill use, your character is not familiar with the activity.}} {{rolltype=Untrained : }} {{ability=[[1d10 + [[@{<%= attr_name %>Mod}]] [Stat Mod] ]]}} {{abilityscore=[[@{<%= attr_name %>}]]}} {{warningthreshold=[[<%= local_assigns.fetch(:warning_threshold, "") %>]]}} {{warning=<%= local_assigns.fetch(:warning, "") %>}}" name='<%= attr_name.upcase %>' title="Untrained <%= attr_name.upcase %> Skill">U</button>
  </div>
</div>

