<div class="sheet-col-1-1">

    <h4 class="sheet-center">Languages - Starting Luck - Birth Augur </h4>

    <div class="sheet-row">

      <div class="sheet-col-5-5 sheet-padl">

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-hd-row sheet-right sheet-padr">Known Languages<br></div>
          <div class="sheet-col-3-5"><textarea name="<%= context.attr 'Languages' %>"></textarea></div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-hd-row sheet-right sheet-padr">Starting Luck<br> </div>
          <div class="sheet-col-1-7 sheet-center" title="Enter your Starting Luck value here"><input class="sheet-underline sheet-center" type="number" name="<%= context.attr 'luckStarting' %>" min="0" step="1" value="10"></div>
          <div class="sheet-col-1-15 sheet-center">&nbsp;</div>
          <div class="sheet-col-1-7 sheet-center"><input class="sheet-center" type="number" name="<%= context.attr 'luckStartingMod' %>" readonly="readonly">Lucky Roll Bonus</div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-hd-row sheet-right sheet-padr">Birth Augur<br></div>
          <div class="sheet-col-3-5 sheet-center"><input class="sheet-center sheet-underline" type="text" name="<%= context.attr 'birthAugur' %>"></div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-hd-row sheet-right sheet-padr">Lucky Roll<br></div>
          <div class="sheet-col-3-5 sheet-center"><input class="sheet-center sheet-underline" type="text" name="<%= context.attr 'luckyRoll' %>"></div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Harsh Winter (All attack rolls)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for All attack rolls"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'allAtkLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>The bull (Melee attack rolls)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Melee attackrolls"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'meleeAtkLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Born on the battlefield (Damage rolls)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Damage rolls"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'dmgLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Path of the bear (Melee damage rolls)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Melee damage rolls"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'meleeDmgLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Righteous Heart (Turn Unholy Checks)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Turn Unholy"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'turnUnholyLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Survived the Plague (Magical Healing)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Magical Healing"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'layOnHandsLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Lucky sign (All saving throws)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for All saving throws"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'savingThrowsLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Struck by lightning (Reflex saving throws)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Reflex saving throws"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'reflexLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Lived through famine (Fort saving throws)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Fortitude saving throws"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'fortitudeLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Resisted temptation (Will saving throws)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Will saving throws"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'willLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Born Under the Loom (Skill Checks)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Skill Checks"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'skillChecksLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Fox's Cunning (Find/Disable Traps)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Find/Disable Traps"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'findDisableTrapsLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Fortunate date (Missile fire attack rolls)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Ranged to Hit"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'rangedAtkLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Hawkeye (Missile fire damage rolls)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Ranged Damage"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'rangedDmgLuckyRoll' %>"></div>

        <div class="sheet-col-5-14 sheet-left sheet-vert-middle">Lucky Roll for <b>The Broken Star (Fumbles)</b>?</div>
        <div class="sheet-col-1-19 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check both boxes"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>} * (-2)]]" name="<%= context.attr 'fumbleLuckyRoll' %>"></div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check both boxes"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>} * (2)]]" name="<%= context.attr 'spellFumbleLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Warrior’s arm (Critical hit tables)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Critical Hits"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>} * (2)]]" name="<%= context.attr 'critLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Bountiful harvest (Hit points)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for HP"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'hpLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Speed of the cobra (Initiative)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Initiative"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr 'initLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Seventh son (Spell checks)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Spell Checks"><input type="checkbox" value="@{<%= context.attr_ref 'luckStartingMod' %>}" name="<%= context.attr 'spellCastLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Unholy house (Corruption rolls)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Corruption Rolls"><input type="checkbox" value="@{<%= context.attr_ref 'luckStartingMod' %>}" name="<%= context.attr 'corruptionLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Charmed house (Armor Class)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Armor Class"><input type="checkbox" value="on" name="<%= context.attr 'armorClassLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Four-leafed clover (Find secret doors)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Find Secret Doors"><input type="checkbox" value="@{<%= context.attr_ref 'luckStartingMod' %>}" name="<%= context.attr 'findSecretDoorsLuckyRoll' %>"></div>

        <div class="sheet-col-9-22 sheet-left sheet-vert-middle">Lucky Roll for <b>Wild Child (Speed)</b>?</div>
        <div class="sheet-col-1-20 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for Speed"><input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>} * (5)]]" name="<%= context.attr 'speedLuckyRoll' %>"></div>

      </div>

    </div>

</div>
