<div class="sheet-col-1-1">
  <h4 class="sheet-center">Languages - Starting Luck - Birth Augur </h4>

  <div class="sheet-row">

    <div class="sheet-col-5-5 sheet-padl">

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-hd-row sheet-right sheet-padr">Known Languages<br></div>
        <div class="sheet-col-3-5"><textarea name="<%= context.attr 'Languages' %>"></textarea></div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-hd-row sheet-right sheet-padr">Starting Luck<br> </div>
        <div class="sheet-col-1-7 sheet-center" title="Enter your Starting Luck value here"><input class="sheet-underline sheet-center" type="number" name="<%= context.attr 'luckStarting' %>" min="0" step="1" value="10"></div>
        <div class="sheet-col-1-15 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-7 sheet-center"><input class="sheet-center" type="number" name="<%= context.attr 'luckStartingMod' %>" readonly="readonly">Lucky Roll Bonus</div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-hd-row sheet-right sheet-padr">Birth Augur<br></div>
        <div class="sheet-col-3-5 sheet-center"><input class="sheet-center sheet-underline" type="text" name="<%= context.attr 'birthAugur' %>"></div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-hd-row sheet-right sheet-padr">Lucky Roll<br></div>
        <div class="sheet-col-3-5 sheet-center"><input class="sheet-center sheet-underline" type="text" name="<%= context.attr 'luckyRoll' %>"></div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <%
        # Split into two columns, 1-15 on left, 16-30 on the right
        # But we sort the data into one array for easy iteration
        col1, col2 = luck_score_data.each_slice(15).to_a
        col1.zip(col2).flatten.each do |entry|
      %>
        <div class="sheet-width-45 sheet-left sheet-vert-middle">
          <b><%= "#{"%02d" % entry.number} #{entry.birth_augur} (#{entry.lucky_roll})" %></b>
        </div>
        <div class="sheet-width-5 sheet-left sheet-padr sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for <%= entry.lucky_roll %>">
          <% if entry.attr %>
            <input type="checkbox" value="[[@{<%= context.attr_ref 'luckStartingMod' %>}]]" name="<%= context.attr entry.attr %>">
            <% unless entry.supported? %>
              <span class="sheet-new-feature" title="Currently unsupported, but will be in the future">⚠️</span>
            <% end %>
          <% elsif entry.note %>
            <span class="sheet-new-feature" title="<%= entry.note %>">ℹ️</span>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
