<div class="sheet-section-class">
  <div class="sheet-col-1-1 sheet-left sheet-class-label">Ability Selection</div>
  <p class="sheet-col-1-1"><%= new_tag "You can now pick and choose abilities from across classes!" %>You may pick and choose abilities from the various classes below. Selecting the class itself enables all abilities associated with that class. This is a new experimental feature, and not all combinations of abilities may work. Please reach out if you find an issue or have feedback!</p>
  <div class="sheet-ability-selection">
    <% { core: DccData::Classes::CORE_CLASSES, supplemental: DccData::Classes::SUPPLEMENTAL_CLASSES, crawl: DccData::Classes::CRAWL_CLASSES, umerica: DccData::Classes::CUABM_CLASSES }.each do |class_source, classes| %>
      <div class="sheet-ability-selection-category-<%= class_source %>">
        <div class="sheet-class-label"><%= class_source.to_s.titleize %></div>
      </div>
      <% classes.each do |class_name| %>
        <div class="sheet-ability-selection-class sheet-ability-selection-category-<%= class_source %>">
          <div class="sheet-abilities-toggle sheet-abilities-toggle-closed sheet-abilities-toggle-<%= class_name %>"><span></span></div>
          <label><%= option_toggle("is_#{class_name}") %><%= class_name.titleize %></label>
          <div class="sheet-hidden sheet-ability-subselection sheet-abilities-<%= class_name %>">
            <% DccTabbedSheet::AbilityToggles::send(class_name).each do |option, desc| %>
              <div></div>
              <label><%= option_toggle(option) %><%= desc %></label>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <hr>
  <h3>Class Abilities</h3>
  <%= render partial: "abilities/secret_doors" %>
  <% DccData::Classes::ALL.each do |class_name| %>
    <%= render partial: "classes/#{class_name}_abilities" %>
  <% end %>

  <h3>Class Info</h3>
  <div class="sheet-col-1-1">
    <div class="sheet-row sheet-sub-header">
      <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
    </div>
    <div class="sheet-row">
      <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_classNotes" placeholder="Other notes of importance!"></textarea></div>
    </div>
  </div>
  <% DccData::Classes::ALL.each do |class_name| %>
    <%= shown_when_option_set("is_#{class_name}") do %>
      <h4><%= class_name.titleize %></h4>
      <%= render partial: "classes/#{class_name}_info" %>
    <% end %>
  <% end %>
  <hr>
</div>
