<div class="sheet-section-core">

  <div class="sheet-row">
    <%= render partial: "shared/character_information", indent: 2 %>
    <%= render partial: "shared/combat_basics", indent: 2 %>
  </div>

  <div class="sheet-row">

    <%= render partial: "shared/core_stats", locals: { context: default_context } %>

  <!-- Saving Throws, Movement -->
    <div class="sheet-col-1-2 sheet-padr">

      <%= render partial: "shared/saving_throws", locals: { context: default_context } %>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <h4 class="sheet-center">Movement </h4>

      <div class="sheet-row sheet-padb">

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-center">&nbsp;</div>
          <div class="sheet-col-1-5 sheet-center">&nbsp;</div>
          <div class="sheet-col-1-5 sheet-padl sheet-small-label sheet-center" title="Base Speed is based on your Race."><input class="sheet-underlined sheet-center" type="number" name="attr_Speed" value="30" step="5"><br>Base Speed</div>
          <div class="sheet-col-1-5 sheet-center">&nbsp;</div>
          <div class="sheet-col-1-5 sheet-center">&nbsp;</div>
        </div>

        <div class="sheet-row">
            <div class="sheet-col-1-6 sheet-padl sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_walk" value="@{Speed} + @{armorSpeed} + (@{speedLuckyRoll} * 5)" disabled="disabled"><br>Walk</div>
            <div class="sheet-col-1-6 sheet-padl sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_run" value="floor( (@{Speed} + @{armorSpeed} + (@{speedLuckyRoll} * 5)) * 2)" disabled="disabled"><br>Run</div>
            <div class="sheet-col-1-6 sheet-padl sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_fly" value="0" step="5"><br>Fly</div>
            <div class="sheet-col-1-6 sheet-padl sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_climb" value="floor( (@{Speed} + @{armorSpeed} + (@{speedLuckyRoll} * 5)) / 2)" disabled="disabled"><br>Climb</div>
            <div class="sheet-col-1-6 sheet-padl sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_swim" value="floor( (@{Speed} + @{armorSpeed} + (@{speedLuckyRoll} * 5)) / 2)" disabled="disabled"><br>Swim</div>
            <div class="sheet-col-1-6 sheet-padl sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_burrow" value="0" step="5"><br>Burrow</div>
          </div>

      </div>

    </div>

  </div>

<!-- languages, Birth Augurs -->
  <%= render partial: "shared/languages_lucky_rolls", locals: { context: default_context }%>

</div>
