<div class="sheet-section-spellbook">

  <!-- Start hidden spell casting stats -->
  <input type="hidden" name="attr_clericSpellBonus" value="[[(@{perMod})]]">
  <input type="hidden" name="attr_elfSpellBonus" value="[[(@{intMod})]]">
  <input type="hidden" name="attr_wizardSpellBonus" value="[[(@{intMod})]]">
  <input type="hidden" name="attr_bardSpellBonus" value="[[(@{intMod})]]">
  <input type="hidden" name="attr_paladinSpellBonus" value="[[(@{perMod})]]">
  <input type="hidden" name="attr_gnomeSpellBonus" value="[[(@{intMod})]]">
  <input type="hidden" name="attr_dwarfPriestSpellBonus" value="[[(@{perMod})]]">
  <input type="hidden" name="attr_elfRogueSpellBonus" value="[[(@{intMod})]]">
  <input type="hidden" name="attr_spellFumbleCheck" value="[[@{luckMod}]]" disabled="true">
  <!-- End  hidden spell casting stats -->

  <div class="sheet-row sheet-margin-bottom">

    <div class="sheet-col-1"><h4 class="sheet-center">Arcane Spell Knowledge</h4></div>

    <div class="sheet-col-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-6 sheet-vert-bottom sheet-center">&nbsp;</div>
        <div class="sheet-col-1-7 sheet-vert-bottom sheet-center sheet-small-label">Number of Known Spells</div>
        <div class="sheet-col-1-14 sheet-vert-bottom sheet-center">&nbsp;</div>
        <div class="sheet-col-1-7 sheet-vert-bottom sheet-center sheet-small-label">Max Spell Level Known</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-margin-top sheet-center sheet-hd-row">Elf Fighter/Mage</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_elfKnownSpells" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_elfMaxSpellLevel" value="0"></div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-margin-top sheet-center sheet-hd-row">Wizard</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_wizardKnownSpells" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_wizardMaxSpellLevel" value="0"></div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-margin-top sheet-center sheet-hd-row">Bard</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_bardKnownSpells" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_bardMaxSpellLevel" value="0"></div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-margin-top sheet-center sheet-hd-row">Gnome</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_gnomeKnownSpells" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_gnomeMaxSpellLevel" value="0"></div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-margin-top sheet-center sheet-hd-row">Elf Rogue</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_elfRogueKnownSpells" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-7"><input type="number" name="attr_elfRogueMaxSpellLevel" value="0"></div>
      </div>

    </div>

  </div>

  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row sheet-margin-bottom">

    <div class="sheet-col-1"><h4 class="sheet-center">Divine Spell Slots</h4></div>

    <div class="sheet-col-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-6 sheet-vert-bottom sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10 sheet-vert-bottom sheet-center sheet-small-label">1st Level</div>
        <div class="sheet-col-1-14 sheet-vert-bottom sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10 sheet-vert-bottom sheet-center sheet-small-label">2nd Level</div>
        <div class="sheet-col-1-14 sheet-vert-bottom sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10 sheet-vert-bottom sheet-center sheet-small-label">3rd Level</div>
        <div class="sheet-col-1-14 sheet-vert-bottom sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10 sheet-vert-bottom sheet-center sheet-small-label">4th Level</div>
        <div class="sheet-col-1-14 sheet-vert-bottom sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10 sheet-vert-bottom sheet-center sheet-small-label">5th Level</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-margin-top sheet-center sheet-hd-row">Cleric</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_clericSpellLevelOne" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_clericSpellLevelTwo" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_clericSpellLevelThree" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_clericSpellLevelFour" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_clericSpellLevelFive" value="0"></div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-margin-top sheet-center sheet-hd-row">Dwarf Priest</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_dwarfPriestSpellLevelOne" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_dwarfPriestSpellLevelTwo" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_dwarfPriestSpellLevelThree" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_dwarfPriestSpellLevelFour" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_dwarfPriestSpellLevelFive" value="0"></div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-margin-top sheet-center sheet-hd-row">Paladin</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_paladinSpellLevelOne" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_paladinSpellLevelTwo" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_paladinSpellLevelThree" value="0"></div>
        <div class="sheet-col-1-14 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-10"><input type="number" name="attr_paladinSpellLevelFour" value="0"></div>
      </div>

    </div>

  </div>

  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row">
    <div class="sheet-col-1-2 sheet-padr">
      <h4 class="sheet-center">Caster Type</h4>
      <div class="sheet-col-1-2 sheet-centerselect" title="Pick the class that is using the spell for correct bonus">
        <select name="attr_spellUserBonus">
          <option value="0">Choose Spellcasting Class...</option>
          <option value="(@{elfSpellBonus} + @{Level})">Elf Fighter/Mage</option>
          <option value="(@{wizardSpellBonus} + @{Level})">Wizard</option>
          <option value="(@{bardSpellBonus} + @{Level})">Bard</option>
          <option value="(@{gnomeSpellBonus} + @{TrickDie})">Gnome</option>
          <option value="(@{elfRogueSpellBonus} + @{Level})">Elf Rogue</option>
          <option value="(@{clericSpellBonus} + @{Level})">Cleric</option>
          <option value="(@{paladinSpellBonus} + @{Level})">Paladin</option>
          <option value="(@{dwarfPriestSpellBonus} + @{Level})">Dwarf Priest</option>
        </select>
      </div>
    </div>

    <div class="sheet-col-1-2 sheet-padr">
      <h4 class="sheet-center">Manifestation</h4>
      <div class="sheet-row">
        <div class="sheet-col-1-16 sheet-offset-1-10 sheet-center">&nbsp;</div>
        <div class="sheet-col-1-6 sheet-large-label sheet-center" title="Pick the Manifestation Die listed in the Spell Information">
          <select name="attr_manifestDie">
            <option value="1d3">1d3</option>
            <option value="1d4">1d4</option>
            <option value="1d5">1d5</option>
            <option value="1d6">1d6</option>
            <option value="1d8">1d8</option>
            <option value="1d10">1d10</option>
          </select>
        </div>
        <div class="sheet-col-1-2 sheet-vert-middle sheet-center">
          <button type="roll" class="sheet-roll" name="roll_Manifest"
          value="&{template:DccTabbed} {{background=[[-1]]}} {{spell=1}} {{name=@{character_name}}} {{title=Spell Manifestation}} {{flavortext=Enter your manifestation text into the approrpiate box on your spellcard.}} {{rolltype=Manifests as : }} {{spellmanifest=[[ @{manifestDie} [Die Roll] ]]  }}">Roll for Manifestation</button>
        </div>
      </div>
    </div>
  </div>

  <h4 class="sheet-center">Spell Type</h4>
  <div class="sheet-col-1-5 sheet-center">&nbsp;</div>
  <input type="radio" class="ArcaneCaster" value="1" name="attr_spellcaster" checked><label class="sheet-subtabSpell">Wizard Spells</label>
  <div class="sheet-col-1-5 sheet-center">&nbsp;</div>
  <input type="radio" class="DivineCaster" value="2" name="attr_spellcaster"><label class="sheet-subtabSpell">Cleric Spells</label>
  <div class="sheet-col-1-5 sheet-center">&nbsp;</div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <!-- Arcane Caster Spellbook -->
  <div class="sheet-ArcaneCaster">
    <h4 class="sheet-center">Grimoire</h4>
    <p class="sheet-small-note">The first time you attempt to cast a spell, you need to roll your Mercurial Magic check along with your Manifestation check.  There are text boxes to enter these effects for each spell.</p>

    <input type="radio" name="attr_spellpagetab" class="sheet-spellpagetab sheet-spelltab1" value="1" title="Level 1" checked="checked">
    <span class="sheet-spellpagetab sheet-spelltab1">Level 1</span>
    <input type="radio" name="attr_spellpagetab" class="sheet-spellpagetab sheet-spelltab2" value="2" title="Level 2">
    <span class="sheet-spellpagetab sheet-spelltab2">Level 2</span>
    <input type="radio" name="attr_spellpagetab" class="sheet-spellpagetab sheet-spelltab3" value="3" title="Level 3">
    <span class="sheet-spellpagetab sheet-spelltab3">Level 3</span>
    <input type="radio" name="attr_spellpagetab" class="sheet-spellpagetab sheet-spelltab4" value="4" title="Level 4">
    <span class="sheet-spellpagetab sheet-spelltab4">Level 4</span>
    <input type="radio" name="attr_spellpagetab" class="sheet-spellpagetab sheet-spelltab5" value="5" title="Level 5">
    <span class="sheet-spellpagetab sheet-spelltab5">Level 5</span>
    <input type="radio" name="attr_spellpagetab" class="sheet-spellpagetab sheet-spelltab99" value="99" title="Show All">
    <span class="sheet-spellpagetab sheet-spelltab99">Show All</span>

    <span class="sheet-spacer"></span>

    <%= render partial: "level1/wizard_spell_page_level1", indent: 2, locals: { level: 1 } %>
    <%= render partial: "level1/wizard_spell_page_level2-5", indent: 2, locals: { level: 2 } %>
    <%= render partial: "level1/wizard_spell_page_level2-5", indent: 2, locals: { level: 3 } %>
    <%= render partial: "level1/wizard_spell_page_level2-5", indent: 2, locals: { level: 4 } %>
    <%= render partial: "level1/wizard_spell_page_level2-5", indent: 2, locals: { level: 5 } %>
  </div>

  <!-- Divine Caster Spellbook -->
  <div class="sheet-DivineCaster">

    <h4 class="sheet-center">Holy Book</h4>
    <p class="sheet-small-note">For players attempting to cast divine spells for the first time, you need to roll a Manifestation check and enter the information into the spell.</p>

    <input type="radio" name="attr_Divinespellpagetab" class="sheet-spellpagetab sheet-spelltab1" value="1" title="Level 1" checked="checked">
    <span class="sheet-spellpagetab sheet-spelltab1">Level 1</span>
    <input type="radio" name="attr_Divinespellpagetab" class="sheet-spellpagetab sheet-spelltab2" value="2" title="Level 2">
    <span class="sheet-spellpagetab sheet-spelltab2">Level 2</span>
    <input type="radio" name="attr_Divinespellpagetab" class="sheet-spellpagetab sheet-spelltab3" value="3" title="Level 3">
    <span class="sheet-spellpagetab sheet-spelltab3">Level 3</span>
    <input type="radio" name="attr_Divinespellpagetab" class="sheet-spellpagetab sheet-spelltab4" value="4" title="Level 4">
    <span class="sheet-spellpagetab sheet-spelltab4">Level 4</span>
    <input type="radio" name="attr_Divinespellpagetab" class="sheet-spellpagetab sheet-spelltab5" value="5" title="Level 5">
    <span class="sheet-spellpagetab sheet-spelltab5">Level 5</span>
    <input type="radio" name="attr_Divinespellpagetab" class="sheet-spellpagetab sheet-spelltab99" value="99" title="Show All">
    <span class="sheet-spellpagetab sheet-spelltab99">Show All</span>

    <span class="sheet-spacer"></span>

    <%= render partial: "level1/cleric_spell_page", indent: 2, locals: { level: 1 } %>
    <%= render partial: "level1/cleric_spell_page", indent: 2, locals: { level: 2 } %>
    <%= render partial: "level1/cleric_spell_page", indent: 2, locals: { level: 3 } %>
    <%= render partial: "level1/cleric_spell_page", indent: 2, locals: { level: 4 } %>
    <%= render partial: "level1/cleric_spell_page", indent: 2, locals: { level: 5 } %>
  </div>
</div>
