<!-- Dungeon Crawl Classics: Tabbed Character Sheet -->
<!-- Version 1.4 -->

<div class="sheet-overall-wrapper">

    <div class="sheet-row">
      <div class="sheet-col-1-1 sheet-margin-top sheet-center"><img src="http://i.imgur.com/HBgERqb.png" alt="Dungeon Crawl Classics Character Record Sheet"></div>
    </div>

  <div class="sheet-core-header sheet-padb">

    <div class="sheet-row">
      <div class="sheet-col-1-4 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" placeholder="Player Name" name="attr_playerName"><br>Player Name</div>
      <div class="sheet-col-1-8 sheet-center">&nbsp;</div>
      <div class="sheet-col-1-4 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" placeholder="Character Name" name="attr_character_name"><br>Character Name</div>
      <div class="sheet-col-1-8 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" placeholder="Race" name="attr_race"><br>Race</div>
      <div class="sheet-col-1-8 sheet-center">&nbsp;</div>
      <div class="sheet-col-1-8 sheet-center sheet-margin-top"><p class="sheet-last-updated">Sheet last updated<br>10 September 2017</p></div>
    </div>

  </div>

  <!-- 3 way toggle - STYLE 2 -->
  <input type="radio" name="attr_maintab" class="sheet-maintab sheet-zero" value="1" title="0-level" checked="checked">
  <span class="sheet-maintab sheet-zero">0-level</span>
  <input type="radio" name="attr_maintab" class="sheet-maintab sheet-player" value="2" title="1+ level">
  <span class="sheet-maintab sheet-player">1+ level</span>
  <input type="radio" name="attr_maintab" class="sheet-maintab sheet-monster" value="4" title="NPC/Monster">
  <span class="sheet-maintab sheet-monster">NPC/Monster</span>

  <!-- 1+ LEVEL CHARACTER SHEET -->
    <div class="sheet-maintab-content sheet-player">

      <h5 class="sheet-center">1+-level Character Sheet</h5>

      <p class="sheet-small-note">The main player character sheet.</p>

      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab1" value="1" title="Core Stats" checked="checked">
      <span class="sheet-tab sheet-tab1">Core Stats</span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab2" value="2">
      <span class="sheet-tab sheet-tab2">Background</span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab3" value="3">
      <span class="sheet-tab sheet-tab3">Class</span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab4" value="4">
      <span class="sheet-tab sheet-tab4">Weapons</span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab5" value="5">
      <span class="sheet-tab sheet-tab5">Spellbook</span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab6" value="6">
      <span class="sheet-tab sheet-tab6">Armor</span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab7" value="7">
      <span class="sheet-tab sheet-tab7">Inventory</span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab99" value="99">
      <span class="sheet-tab sheet-tab99">Show All</span>

      <span class="sheet-spacer"></span>

      <!-- CORE STATS -->

        <%= render partial: "sections/core_stats", indent: 4 %>

      <!-- BACKGROUND INFORMATION -->

        <%= render partial: "sections/background_information", indent: 4 %>

      <!-- CLASSES -->

        <%= render partial: "sections/classes", indent: 4 %>

      <!-- WEAPONS -->

        <%= render partial: "sections/weapons", indent: 4 %>

      <!-- SPELLBOOK -->

        <%= render partial: "sections/spellbook", indent: 4 %>

        </div>

      <!-- ARMOR -->

        <%= render partial: "sections/armor", indent: 4 %>

      <!-- INVENTORY -->

        <%= render partial: "sections/inventory", indent: 4 %>

    </div>

  <!-- 0-LEVEL CHARACTER SHEET -->
    <%= render partial: "tabs/level0", indent: 2 %>

  <!-- NPC/MONSTER CHARACTER SHEET -->
    <%= render partial: "tabs/monster", indent: 2 %>

</div>

<%= render partial: "roll_templates/index" %>

<%= render partial: "workers" %>
