<button
  type='roll'
  class="sheet-roll"
  name="roll_meleeWeaponAttack"
  title="Melee Weapon Attack"
  value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{<%= context.character_name_attr %>}}} {{title=@{<%= context.attr_ref "WeaponName" %>}}} {{wielded=@{<%= context.attr_ref "AttackWielded" %>} }} {{attack=[[ @{<%= context.attr_ref "AttackDice" %>}cs>@{<%= context.attr_ref "CritThreat" %>} [To Hit Roll] + @{<%= context.attr_ref "ToHit" %>} [To Hit Bonus] + (?{Deed/Smite Die roll|0}) [Deed/Smite] + (?{Any Attack Bonus|0}) [Attack Bonus]  ]]  }} {{damage=[[ ({(@{<%= context.attr_ref "Dmg" %>} [Base damage] + @{<%= context.attr_ref "DmgBonus" %>} [Damage Bonus] + (?{Deed/Smite Die roll|0}) [Deed/Smite Die]),1d1}kh1) ]]}} {{crit=[[ @{<%= context.parent_attr_ref 'CritDie' %>} + [[@{<%= context.parent_attr_ref 'luckMod' %>}]] + @{<%= context.parent_attr_ref 'critLuckyRoll' %>} ]]}} {{crittable=@{<%= context.parent_attr_ref 'CritDie' %>|max}}} {{fumble=[[ @{<%= context.parent_attr_ref 'armorFumbleDie' %>} + [[@{<%= context.parent_attr_ref 'fumbleCheck' %>}]] + [[@{<%= context.parent_attr_ref 'fumbleLuckyRoll' %>}]] ]]}} {{notes=@{<%= context.attr_ref "WeaponSpecial" %>}}}"
  >
  Attack
</button>
