<button
  type='roll'
  class="sheet-roll"
  name="roll_rangedWeaponBackstab"
  title="Ranged Weapon Backstab"
  value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{<%= context.character_name_attr %>} }} {{title=Backstab with @{<%= context.attr_ref "WeaponName" %>} \n @{<%= context.attr_ref "DistanceShort" %>} / @{<%= context.attr_ref "DistanceMed" %>} / @{<%= context.attr_ref "DistanceLong" %>} }} {{flavortext=You attack the enemy from behind or when they are unaware.  If the attack hits, it is a critical hit.}} {{range=@{<%= context.attr_ref "attackRange", include_name_prefix: false %>} }} {{type=@{<%= context.attr_ref "WeaponType" %>} }} {{rangedbackstab=[[ @{<%= context.attr_ref "AttackEffectiveDice" %>} [To Hit Roll] + @{<%= context.attr_ref "ToHit" %>} [To Hit Bonus] + @{<%= context.parent_attr_ref 'ThiefBackstabCheck' %>} [Backstab Bonus] + (?{Any Attack Bonus|0}) [Attack Bonus] - @{<%= context.attr_ref "mediumRangePenalty", include_name_prefix: false %>} [Medium Range Penalty] ]] }} {{damage=[[ @{<%= context.attr_ref "BackstabDmg" %>} [Base damage] + @{<%= context.attr_ref "DmgBonus" %>} [Damage Bonus] + @{<%= context.attr_ref "thrownShortRangeBonus", include_name_prefix: false %>} [Short Range Thrown Weapon STR Mod] ]] }} {{crit=[[ @{<%= context.parent_attr_ref 'CritDie' %>}[Dice Roll] + [[@{<%= context.parent_attr_ref 'luckMod' %>}]][Current Luck] + @{<%= context.parent_attr_ref 'critLuckyRoll' %>}[Crit Lucky Roll] ]] }} {{crittable=@{<%= context.parent_attr_ref 'CritDie' %>|max} }} {{fumble=[[ @{<%= context.parent_attr_ref 'armorFumbleDie' %>} + [[@{<%= context.parent_attr_ref 'fumbleCheck' %>}]] + [[@{<%= context.parent_attr_ref 'fumbleLuckyRoll' %>}]] ]] }} {{notes=@{<%= context.attr_ref "WeaponSpecial" %>}}}"
  >
  Backstab
</button>
