<button
  type='roll'
  class="sheet-roll"
  name="roll_meleeWeaponAttackWithDeed"
  title="Melee Weapon Attack with Mighty Deed"
  value="&{template:DccTabbed} [[ @{<%= context.attr_ref "AttackDice" %>}cs>@{<%= context.attr_ref "CritThreat" %>} [To Hit Roll] + [[@{<%= context.parent_attr_ref 'DeedDie' %>}cs>3]] [Deed Die] + @{<%= context.attr_ref "ToHit" %>} [To Hit Bonus] + (?{Any Attack Bonus|0}) [Attack Bonus]  ]] {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=@{<%= context.attr_ref "WeaponName" %>}}} {{wielded=@{<%= context.attr_ref "AttackWielded" %>} }} {{attackWithDeed=$[[1]] }} {{deedroll=$[[0]] }} {{damage=[[ ({(@{<%= context.attr_ref "Dmg" %>} [Base damage] + @{<%= context.attr_ref "DmgBonus" %>} [Damage Bonus]),1d1}kh1) ]] + $[[0]] [Deed]}} {{crit=[[ @{<%= context.parent_attr_ref 'CritDie' %>} + [[@{<%= context.parent_attr_ref 'luckMod' %>}]] + @{<%= context.parent_attr_ref 'critLuckyRoll' %>} ]]}} {{crittable=@{<%= context.parent_attr_ref 'CritDie' %>|max}}} {{fumble=[[ @{<%= context.parent_attr_ref 'armorFumbleDie' %>} + [[@{<%= context.parent_attr_ref 'fumbleCheck' %>}]] + [[@{<%= context.parent_attr_ref 'fumbleLuckyRoll' %>}]] ]]}} {{notes=@{<%= context.attr_ref "WeaponSpecial" %>}}}"
  >
  w/ Deed
</button>
