<button
  type='roll'
  class="sheet-roll"
  name="roll_meleeWeaponAttack"
  title="Melee Weapon Attack"
  value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{<%= context.character_name_attr %>}}} {{title=@{<%= attr.roll "WeaponName" %>}}} {{wielded=@{<%= attr.roll "AttackWielded" %>} }} {{attack=[[ @{<%= attr.roll "AttackDice" %>}cs>@{<%= attr.roll "CritThreat" %>} [To Hit Roll] + @{<%= attr.roll "ToHit" %>} [To Hit Bonus] + (?{Deed/Smite Die roll|0}) [Deed/Smite] + (?{Any Attack Bonus|0}) [Attack Bonus]  ]]  }} {{damage=[[ ({(@{<%= attr.roll "Dmg" %>} [Base damage] + @{<%= attr.roll "DmgBonus" %>} [Damage Bonus] + (?{Deed/Smite Die roll|0}) [Deed/Smite Die]),1d1}kh1) ]]}} {{crit=[[ @{CritDie} + [[@{luckMod}]] + @{critLuckyRoll} ]]}} {{crittable=@{CritDie|max}}} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]]}} {{notes=@{<%= attr.roll "WeaponSpecial" %>}}}"
  >
  Attack
</button>
