<button
  type='roll'
  class="sheet-roll"
  name="roll_meleeWeaponAttackWithDeed"
  title="Melee Weapon Attack with Mighty Deed"
  value="&{template:DccTabbed} [[ @{<%= attr.roll "AttackDice" %>}cs>@{<%= attr.roll "CritThreat" %>} [To Hit Roll] + [[@{DeedDie}cs>3]] [Deed Die] + @{<%= attr.roll "ToHit" %>} [To Hit Bonus] + (?{Any Attack Bonus|0}) [Attack Bonus]  ]] {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=@{<%= attr.roll "WeaponName" %>}}} {{wielded=@{<%= attr.roll "AttackWielded" %>} }} {{attackWithDeed=$[[1]] }} {{deedroll=$[[0]] }} {{damage=[[ ({(@{<%= attr.roll "Dmg" %>} [Base damage] + @{<%= attr.roll "DmgBonus" %>} [Damage Bonus]),1d1}kh1) ]] + $[[0]] [Deed]}} {{crit=[[ @{CritDie} + [[@{luckMod}]] + @{critLuckyRoll} ]]}} {{crittable=@{CritDie|max}}} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]]}} {{notes=@{<%= attr.roll "WeaponSpecial" %>}}}"
  >
  w/ Deed
</button>
