<button
  type='roll'
  class="sheet-roll"
  name="roll_rangedWeaponAttackWithDeed"
  title="Ranged Weapon Attack with Mighty Deed"
  value="&{template:DccTabbed} [[ @{<%= context.attr_ref "AttackEffectiveDice" %>}cs>@{<%= context.attr_ref "CritThreat" %>} [To Hit Roll] + [[@{<%= context.parent_attr_ref 'DeedDie' %>}cs>3]] [Deed Die] + @{<%= context.attr_ref "ToHit" %>} [To Hit Bonus] + (?{Any Attack Bonus|0}) [Attack Bonus] + @{<%= context.attr_ref "mediumRangePenalty", include_name_prefix: false %>} [Medium Range Penalty] ]] {{background=[[0]]}} {{combat=1}} {{name=@{<%= context.character_name_attr %>}}} {{title=@{<%= context.attr_ref "WeaponName" %>} \n @{<%= context.attr_ref "DistanceShort" %>} / @{<%= context.attr_ref "DistanceMed" %>} / @{<%= context.attr_ref "DistanceLong" %>}}} {{range=@{<%= context.attr_ref "attackRange", include_name_prefix: false %>} }} {{rangedtype=Ranged Type}} {{type=@{<%= context.attr_ref "WeaponType" %>} }} {{rangedAttackWithDeed=$[[1]] }} {{deedroll=$[[0]] }} {{damage=[[ ({(@{<%= context.attr_ref "Dmg" %>} [Base damage] + @{<%= context.attr_ref "DmgBonus" %>} [Damage Bonus] + @{<%= context.attr_ref "thrownShortRangeBonus", include_name_prefix: false %>} [Short Range Thrown Weapon STR Mod]),1d1}kh1) ]] + $[[0]] [Deed]}} {{crit=[[ @{<%= context.parent_attr_ref 'CritDie' %>} + [[@{<%= context.parent_attr_ref 'luckMod' %>}]] + @{<%= context.parent_attr_ref 'critLuckyRoll' %>} ]]}} {{crittable=@{<%= context.parent_attr_ref 'CritDie' %>|max}}} {{fumble=[[ @{<%= context.parent_attr_ref 'armorFumbleDie' %>} + [[@{<%= context.parent_attr_ref 'fumbleCheck' %>}]] + [[@{<%= context.parent_attr_ref 'fumbleLuckyRoll' %>} * -1]] ]]}} {{notes=@{<%= context.attr_ref "WeaponSpecial" %>}}}">
  w/ Deed
</button>
