<div class="sheet-spell-page<%= level %>">
  <div class="sheet-row sheet-spell-header">
    <div class="sheet-col-1 sheet-vert-bottom sheet-center sheet-small-label">Level <%= level %></div>
  </div>

  <!-- BEGIN CLERIC spellbook <%= level %> row -->
  <fieldset class="repeating_divinespellbooklevel<%= level %>">
    <div class="sheet-margin-bottom sheet-padr sheet-padl">
      <div class="sheet-row">
        <div class="sheet-col-1-15 sheet-vert-bottom sheet-center sheet-small-label">Spell Level</div>
        <div class="sheet-col-1-3 sheet-vert-bottom sheet-center sheet-small-label">Spell name</div>
        <div class="sheet-col-1-8 sheet-vert-bottom sheet-center sheet-small-label">Range</div>
        <div class="sheet-col-1-8 sheet-vert-bottom sheet-center sheet-small-label">Duration</div>
        <div class="sheet-col-1-8 sheet-vert-bottom sheet-center sheet-small-label">Cast time</div>
        <div class="sheet-col-1-12 sheet-vert-bottom sheet-center sheet-small-label">Save</div>
        <div class="sheet-col-1-15 sheet-vert-bottom sheet-center sheet-small-label">Conc.</div>
        <div class="sheet-col-1-15 sheet-vert-bottom sheet-center sheet-small-label">Lost?</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-15 sheet-vert-middle sheet-center">Level <%= level %><input type="hidden" name="attr_spellBaseLevelCleric" value="<%= level %>"><input type="hidden" name="attr_spellFriendlyLevelCleric" value="Level <%= level %>"></div>
        <div class="sheet-col-1-3 sheet-vert-middle"><input type="text" class=" sheet-center" name="attr_spellNameCleric"></div>
        <div class="sheet-col-1-8 sheet-vert-middle"><input type="text" class="sheet-center" name="attr_spellRangeCleric"></div>
        <div class="sheet-col-1-8 sheet-vert-middle"><input type="text" class="sheet-center" name="attr_spellDurationCleric"></div>
        <div class="sheet-col-1-8 sheet-vert-middle"><input type="text" class="sheet-center" name="attr_spellCastTimeCleric"></div>
        <div class="sheet-col-1-12 sheet-vert-middle"><input type="text" class="sheet-center" name="attr_spellSaveCleric"></div>
        <div class="sheet-col-1-15 sheet-vert-middle" title="Choose if the spell requires concentration or not">
          <select name="attr_spellConcCleric">
            <option value="Yes">Yes</option>
            <option value="No" selected="selected">No</option>
          </select>
        </div>
        <div class="sheet-col-1-15 sheet-vert-middle" title="Select if the Spell has been lost or not">
          <select name="attr_spellIsLostCleric">
            <option value="1">Yes</option>
            <option value="0" selected="selected">No</option>
          </select>
        </div>
      </div>

      <div class="sheet-row">

        <div class="sheet-row">
          <div class="sheet-col-4-23 sheet-center">&nbsp;</div>
          <div class="sheet-col-4-23 sheet-vert-bottom sheet-center sheet-small-label">Bonus / Minus</div>
          <div class="sheet-col-4-23 sheet-vert-bottom sheet-center sheet-small-label">Spell Check Die</div>
          <div class="sheet-col-11-23 sheet-vert-bottom sheet-center">&nbsp;</div>
        </div>

        <div class="sheet-row">
          <div class="sheet-col-5-23 sheet-center">&nbsp;</div>

          <div class="sheet-col-2-23" title="Do not include the bonus' from Lucky Rolls, Level, or Personality"><input class="sheet-center" type="number" name="attr_divineMod" value="0"></div>

          <div class="sheet-col-2-23 sheet-center">&nbsp;</div>

          <div class="sheet-col-2-23 sheet-large-label sheet-left" title="Select the die used for your Spell Check.">
            <select name="attr_spellCheckDieCleric">
              <option value="d3">d3</option>
              <option value="d4">d4</option>
              <option value="d5">d5</option>
              <option value="d6">d6</option>
              <option value="d7">d7</option>
              <option value="d8">d8</option>
              <option value="d10">d10</option>
              <option value="d12">d12</option>
              <option value="d14">d14</option>
              <option value="d16">d16</option>
              <option value="d20" selected="selected">d20</option>
              <option value="d24">d24</option>
              <option value="d30">d30</option>
            </select>
          </div>
          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>

          <div class="sheet-col-11-23 sheet-vert-middle sheet-left">
            <button type="roll" class="sheet-roll sheet-vert-middle" name="roll_spellcheckCleric" title="Cleric Spell Check."
              value="&{template:DccTabbed} {{background=[[4]]}} {{spell=1}} {{name=@{character_name}}} {{title=@{spellNameCleric}}} {{spellshowmanifest=@{manifestionCleric}}} {{spellshowinfoblock=1}} {{spelllevel=@{spellBaseLevelCleric}}} {{spellrange=@{spellRangeCleric}}} {{spellduration=@{spellDurationCleric}}} {{spellcasttime=@{spellCastTimeCleric}}} {{spellsave=@{spellSaveCleric}}} {{spellconcentrate=@{spellConcCleric}}} {{spellshowdesc=@{spellDescriptionCleric}}} {{rolltype=Spell Check : }} {{deity=@{ClericDeity}}} {{spellcheckcleric=[[@{spellCheckDieCleric}cf<@{disapproval} + [[@{spellUserBonus}]] [Level/Stat Bonus] + [[@{spellCastLuckyRoll}]] [Casting Lucky Roll] + @{divineMod} [Bonus/Minus] ]]  }} {{crit= Add an additional +@{Level} to your spell check roll!}}">Spell Check</button>
          </div>
        </div>

      </div>


      <span class="sheet-spacer"></span>
      <span class="sheet-small-label">Show :</span>
      <input type="checkbox" name="attr_DivinespelltypeManifest" class="sheet-spelltypetab sheet-spelltypeManifestCleric" value="1" checked="checked"><span class="sheet-spelltypetab sheet-spelltypeManifestCleric">Manifestation</span> |
      <input type="checkbox" name="attr_DivinespelltypeGeneral" class="sheet-spelltypetab sheet-spelltypeGeneralCleric" value="1"><span class="sheet-spelltypetab sheet-spelltypeGeneralCleric">General</span>

      <span class="sheet-spacer"></span>

      <div class="sheet-spell-type-ManifestCleric">

        <div class="sheet-row">
            <div class="sheet-col-11-23 sheet-vert-bottom sheet-center sheet-small-label">Spell Manifestation</div>
          </div>

          <div class="sheet-row">
            <div class="sheet-col-11-23 sheet-small-label sheet-center"><textarea class="sheet-medium" name="attr_manifestionCleric"></textarea></div>
          </div>
      </div>

      <div class="sheet-spell-type-GeneralCleric">

          <div class="sheet-row">
            <div class="sheet-col-22-23 sheet-vert-bottom sheet-center sheet-small-label">Spell Description/Flavour</div>
          </div>

          <div class="sheet-row">
            <div class="sheet-col-22-23 sheet-small-label sheet-center"><textarea class="sheet-medium" name="attr_spellDescriptionCleric"></textarea></div>
          </div>

      </div>

    </div>

    <!-- END spellbook <%= level %> row -->
  </fieldset>
</div>
