<div class="sheet-spell-page<%= level %>">
  <div class="sheet-row sheet-spell-header">
    <div class="sheet-col-1 sheet-vert-bottom sheet-center sheet-small-label">Level <%= level %></div>
  </div>

  <!-- BEGIN WIZARD spellbook <%= level %> row -->
  <fieldset class="repeating_spellbooklevel<%= level %>">
    <div class="sheet-margin-bottom sheet-padr sheet-padl">
      <div class="sheet-row">
        <div class="sheet-col-1-3 sheet-vert-bottom sheet-center sheet-small-label">Spell name</div>
        <div class="sheet-col-1-8 sheet-vert-bottom sheet-center sheet-small-label">Range</div>
        <div class="sheet-col-1-7 sheet-vert-bottom sheet-center sheet-small-label">Duration</div>
        <div class="sheet-col-1-8 sheet-vert-bottom sheet-center sheet-small-label">Cast time</div>
        <div class="sheet-col-1-7 sheet-vert-bottom sheet-center sheet-small-label">Save</div>
        <div class="sheet-col-1-16 sheet-vert-bottom sheet-center sheet-small-label">Conc.</div>
        <div class="sheet-col-1-16 sheet-vert-bottom sheet-center sheet-small-label">Lost?</div>
      </div>

      <div class="sheet-row">
        <input type="hidden" name="attr_spellBaseLevel" value="<%= level %>">
        <input type="hidden" name="attr_spellFriendlyLevel" value="Level <%= level %>">
        <div class="sheet-col-1-3 sheet-vert-middle"><input type="text" class=" sheet-center" name="attr_spellName"></div>
        <div class="sheet-col-1-8 sheet-vert-middle"><input type="text" class="sheet-center" name="attr_spellRange"></div>
        <div class="sheet-col-1-7 sheet-vert-middle"><input type="text" class="sheet-center" name="attr_spellDuration"></div>
        <div class="sheet-col-1-8 sheet-vert-middle"><input type="text" class="sheet-center" name="attr_spellCastTime"></div>
        <div class="sheet-col-1-7 sheet-vert-middle"><input type="text" class="sheet-center" name="attr_spellSave"></div>
        <div class="sheet-col-1-16 sheet-vert-middle" title="Choose if the spell requires concentration or not">
          <select name="attr_spellConc">
            <option value="Yes">Yes</option>
            <option value="No" selected="selected">No</option>
          </select>
        </div>
        <div class="sheet-col-1-16 sheet-vert-middle" title="Select if the Spell has been lost or not">
          <select name="attr_spellIsLost">
            <option value="1">Yes</option>
            <option value="0" selected="selected">No</option>
          </select>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-row">
          <div class="sheet-col-1-23 sheet-checkbox-row sheet-vert-middle" title="Elves, Check this box if you choose this spell as your lucky 1st level spell."><input type="checkbox" name="attr_elfLuckySpellCheck" value="[[@{luckStartingMod}]]"></div>
          <div class="sheet-col-22-23 sheet-left sheet-vert-middle sheet-small-labelblue">Elves, Check this box if you choose this spell as your lucky 1st level spell.</div>
        </div>

        <div class="sheet-row">
          <div class="sheet-col-1-23 sheet-checkbox-row sheet-vert-middle" title="Check this box if you need to use multiple dice to roll your spell check (for example: if you have the Joe Average mercurial effect).  Uncheck to go back to single die rolls."><input class="sheet-is-spellCheckMulti" type="checkbox" name="attr_isSpellCheckMulti" value="1"></div>
          <div class="sheet-col-22-23 sheet-left sheet-vert-middle sheet-small-labelblue">Check this box if you need to use multiple dice to roll your spell check (e.g.: You have the Joe Average mercurial effect).  Uncheck to go back to single die rolls.</div>
        </div>

        <input class="sheet-is-spellcheckMULTI sheet-hidden" type="checkbox" name="attr_isSpellCheckMulti" value="1">

        <div class="sheet-spellcheckSINGLE">
          <div class="sheet-row">
            <div class="sheet-col-4-23 sheet-center">&nbsp;</div>
            <div class="sheet-col-4-23 sheet-vert-bottom sheet-center sheet-small-label">Bonus / Minus</div>
            <div class="sheet-col-4-23 sheet-vert-bottom sheet-center sheet-small-label">Spell Check (Single Die)</div>
            <div class="sheet-col-11-23 sheet-vert-bottom sheet-center">&nbsp;</div>
          </div>

          <div class="sheet-row">
            <div class="sheet-col-5-23 sheet-center">&nbsp;</div>
            <div class="sheet-col-2-23" title="Do not include the bonus' from Lucky Rolls, Elvish Lucky Spells, Level, Spellburn, or Intelligence"><input class="sheet-center" type="number" name="attr_arcaneMod" value="0"></div>
            <div class="sheet-col-2-23 sheet-center">&nbsp;</div>
            <div class="sheet-col-2-23 sheet-large-label sheet-left" title="Select the die used for your Spell Check.">
              <select name="attr_spellCheckDie">
                <option value="d3cs20">d3</option>
                <option value="d4cs20">d4</option>
                <option value="d5cs20">d5</option>
                <option value="d6cs20">d6</option>
                <option value="d7cs20">d7</option>
                <option value="d8cs20">d8</option>
                <option value="d10cs20">d10</option>
                <option value="d12cs20">d12</option>
                <option value="d14cs20">d14</option>
                <option value="d16cs20">d16</option>
                <option value="d20cs20" selected="selected">d20</option>
                <option value="d24cs24">d24</option>
                <option value="d30cs30">d30</option>
              </select>
            </div>
            <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>

            <div class="sheet-col-11-23 sheet-vert-middle sheet-left">
              <button type="roll" class="sheet-roll sheet-vert-middle" name="roll_spellCheckSingleDie" title="The first time you attempt to cast this spell - Roll for your Mercurial Magic Effect."
                value="&{template:DccTabbed} {{background=[[1d3]]}} {{spell=1}} {{name=@{character_name}}} {{title=@{spellName}}} {{spellshowmanifest=@{spellManifestation}}} {{spellshowinfoblock=1}} {{spelllevel=@{spellBaseLevel}}} {{spellrange=@{spellRange}}} {{spellduration=@{spellDuration}}} {{spellcasttime=@{spellCastTime}}} {{spellsave=@{spellSave}}} {{spellconcentrate=@{spellConc}}} {{spellshowdesc=@{spellDescription}}} {{spellshowmercurial=@{spellMercurialMagic}}} {{rolltype=Spell Check : }} {{spellcheckwizard=[[@{spellCheckDie} + [[@{spellUserBonus}]] [Level/Stat Bonus] + [[@{spellCastLuckyRoll}]] [Casting Lucky Roll] + @{elfLuckySpellCheck} [Elven Lucky Spell] + (?{Amount of Spellburn|0}) [Spellburn] + ([[@{armorCheck}]]) [Armor Check Penalty] + @{arcaneMod} [Bonus/Minus] ]]  }} {{crit= Add an additional +@{Level} to your spell check roll!}} {{fumble=[[1d6 + (@{spellFumbleCheck} [Luck] + @{spellFumbleLuckyRoll} [Fumble Lucky Roll]) ]] }}">Single Die Spell Check</button>
            </div>

          </div>
        </div>

        <div class="sheet-spellcheckMULTI">
          <div class="sheet-row">
            <div class="sheet-col-4-23 sheet-center">&nbsp;</div>
            <div class="sheet-col-4-23 sheet-vert-bottom sheet-center sheet-small-label">Bonus / Minus</div>
            <div class="sheet-col-4-23 sheet-vert-bottom sheet-center sheet-small-label">Spell Check (Multi Die)</div>
            <div class="sheet-col-11-23 sheet-vert-bottom sheet-center">&nbsp;</div>
          </div>

          <div class="sheet-row">
            <div class="sheet-col-5-23 sheet-center">&nbsp;</div>
            <div class="sheet-col-2-23" title="Do not include the bonus' from Lucky Rolls, Elvish Lucky Spells, Level, Spellburn, or Intelligence"><input class="sheet-center" type="number" name="attr_arcaneModMulti" value="0"></div>
            <div class="sheet-col-2-23 sheet-center">&nbsp;</div>
            <div class="sheet-col-2-23 sheet-large-label sheet-left" title="Select the multiple die used for your Spell Check.  The circumstances for using this would be for example You have the Joe Average mercurial effect">
              <select name="attr_spellCheckMultiDie">
                <option value="d2cs10">2d2</option>
                <option value="d3cs10">2d3</option>
                <option value="d4cs10">2d4</option>
                <option value="d5cs10">2d5</option>
                <option value="d6cs10">2d6</option>
                <option value="d7cs10">2d7</option>
                <option value="d8cs10">2d8</option>
                <option value="d10cs10" selected="selected">2d10</option>
                <option value="d12cs12">2d12</option>
                <option value="d15cs15">2d15</option>
              </select>
            </div>
            <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>

            <div class="sheet-col-11-23 sheet-vert-middle sheet-left">
              <button type="roll" class="sheet-roll sheet-vert-middle" name="roll_spellCheckMultiDie" title="The first time you attempt to cast this spell - Roll for your Mercurial Magic Effect."
                value="&{template:DccTabbed} {{background=[[1d3]]}} {{spell=1}} {{name=@{character_name}}} {{title=@{spellName}}} {{spellcheckwizardmulti=1}} {{spellshowmanifest=@{spellManifestation}}} {{spellshowinfoblock=1}} {{spelllevel=@{spellBaseLevel}}} {{spellrange=@{spellRange}}} {{spellduration=@{spellDuration}}} {{spellcasttime=@{spellCastTime}}} {{spellsave=@{spellSave}}} {{spellconcentrate=@{spellConc}}} {{spellshowdesc=@{spellDescription}}} {{spellshowmercurial=@{spellMercurialMagic}}} {{rolltype=Spell Check : }} {{spelldie1=[[@{spellCheckMultiDie}]]}} {{spelldie2=[[@{spellCheckMultiDie}]]}} {{spellbonus=[[@{spellUserBonus}[Level/Stat Bonus] + @{spellCastLuckyRoll} [Casting Lucky Roll] + @{elfLuckySpellCheck} [Elven Lucky Spell] + (?{Amount of Spellburn|0}) [Spellburn] + @{armorCheck} [Armor Check Penalty] + @{arcaneModMulti} [Bonus/Minus] ]]  }} {{crit= Add an additional +@{Level} to your spell check roll!}} {{fumble=[[1d6 + (@{spellFumbleCheck} [Luck] + @{spellFumbleLuckyRoll} [Fumble Lucky Roll]) ]] }}">Multi-Die Spell Check</button>
            </div>
          </div>
        </div>
      </div>

      <span class="sheet-spacer"></span>
      <span class="sheet-small-label">Show :</span>
      <input type="checkbox" name="attr_spellTypeMercurialMagic" class="sheet-spelltypetab sheet-spelltypeMercurialMagic" value="1" checked="checked"><span class="sheet-spelltypetab sheet-spelltypeMercurialMagic">Mercurial Magic</span> |
      <input type="checkbox" name="attr_spellTypeManifestation" class="sheet-spelltypetab sheet-spelltypeManifestation" value="1"><span class="sheet-spelltypetab sheet-spelltypeManifestation">Manifestation</span> |
      <input type="checkbox" name="attr_spellTypeDescription" class="sheet-spelltypetab sheet-spelltypeDescription" value="1"><span class="sheet-spelltypetab sheet-spelltypeDescription">Description</span>
      <span class="sheet-spacer"></span>

      <div class="sheet-spell-type-MercurialMagic">
        <div class="sheet-row">
          <div class="sheet-col-11-23 sheet-vert-bottom sheet-center sheet-small-label">Mercurial Magic Effect</div>
          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>
          <div class="sheet-col-11-23 sheet-vert-bottom sheet-center">&nbsp;</div>
        </div>

        <div class="sheet-row">
          <div class="sheet-col-11-23 sheet-small-label sheet-center"><textarea name="attr_spellMercurialMagic" class="sheet-medium"></textarea></div>
          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>

          <input type="hidden" name="attr_mercurialMagicLuckBonus" value="[[([[@{luckMod}]] * (10))]]">
          <div class="sheet-col-11-23 sheet-vert-middle sheet-left">
            <button type="roll" class="sheet-roll sheet-vert-middle" name="roll_mercurialMagic" title="The first time you attempt to cast this spell - Roll for your Mercurial Magic Effect."
            value="&{template:DccTabbed} {{background=[[1d3]]}} {{spell=1}} {{name=@{character_name}}} {{title=Mercurial Magic for @{spellName}}} {{flavortext=Enter your mercurial effect text into the approrpiate box on your spellcard.}} {{rolltype=Mercurial Effect : }} {{spellmercurial=[[ {({(1d100 + @{mercurialMagicLuckBonus}),1d1}kh1),0d1+100}kl1 ]]  }}">Mercurial Magic Roll</button>
          </div>
        </div>
      </div>

      <hr>

      <div class="sheet-spell-type-Manifestation">
        <div class="sheet-row">
          <div class="sheet-col-11-23 sheet-vert-bottom sheet-center sheet-small-label">Spell Manifestation</div>
          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>
        </div>

        <div class="sheet-row">
          <div class="sheet-col-11-23 sheet-small-label sheet-center"><textarea class="sheet-medium" name="attr_spellManifestation"></textarea></div>
          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>
        </div>
      </div>

      <div class="sheet-spell-type-Description">
        <div class="sheet-row">
          <div class="sheet-col-11-23 sheet-vert-bottom sheet-center sheet-small-label">Spell Description/Flavour</div>
          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>
        </div>

        <div class="sheet-row">
          <div class="sheet-col-11-23 sheet-small-label sheet-center"><textarea class="sheet-medium" name="attr_spellDescription"></textarea></div>
          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-row">
          <div class="sheet-col-8-23 sheet-center">&nbsp;</div>
          <div class="sheet-col-3-23 sheet-vert-bottom sheet-center sheet-small-label">Misfire Die</div>
          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>
          <div class="sheet-col-11-23 sheet-vert-bottom sheet-center">&nbsp;</div>
        </div>

        <div class="sheet-row">
          <div class="sheet-col-8-23 sheet-center">&nbsp;</div>
          <div class="sheet-col-3-23 sheet-center">
            <select name="attr_misfireDie">
              <option value="1d2">1d2</option>
              <option value="1d3">1d3</option>
              <option value="1d4">1d4</option>
              <option value="1d5">1d5</option>
              <option value="1d6">1d6</option>
            </select>
          </div>

          <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>

          <div class="sheet-col-11-23 sheet-vert-middle sheet-left">
            <button type="roll" class="sheet-roll sheet-vert-middle" name="roll_Misfire" title="Roll this if your spell fumble result states that you misfired.  Compare result to Misfire section of the specific spell."
            value="&{template:DccTabbed} {{background=[[1d3]]}} {{spell=1}} {{name=@{character_name}}} {{title=Misfire: @{spellName}}} {{flavortext=Compare result to Misfire section of @{spellName}.}} {{rolltype=Misfire Result:}} {{spellmisfire=[[@{misfireDie}]]}}">Spell Fumble: Misfire</button>
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-8-23 sheet-center">&nbsp;</div>
        <div class="sheet-col-3-23 sheet-center sheet-small-label">Corruption Die</div>
        <div class="sheet-col-1-23 sheet-center">&nbsp;</div>
        <div class="sheet-col-11-23 sheet-center">&nbsp;</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-8-23 sheet-center">&nbsp;</div>
        <div class="sheet-col-3-23" title="Pick the Corruption Die listed in the Spell Information">
          <select name="attr_corruptionDie">
            <option value="1d4">1d4</option>
            <option value="1d5">1d5</option>
            <option value="1d6">1d6</option>
            <option value="1d8">1d8</option>
            <option value="1d10">1d10</option>
            <option value="1d12">1d12</option>
            <option value="1d16">1d16</option>
          </select>
        </div>

        <div class="sheet-col-1-23 sheet-vert-bottom sheet-center">&nbsp;</div>

        <input type="hidden" name="attr_corruptionTableDie" value="(1d10)">
        <div class="sheet-col-5-23 sheet-vert-middle sheet-left">
          <button type="roll" class="sheet-roll sheet-vert-middle" name="roll_Corruption" title="Roll this if your spell fumble result states that you get corrupted.  Compare result to Corruption section of the specific spell."
          value="&{template:DccTabbed} {{background=[[1d3]]}} {{spell=1}} {{name=@{character_name}}} {{title=Corruption: @{spellName}}} {{flavortext=Compare result to Corruption section of @{spellName}.}} {{rolltype=Corruption Result:}} {{spellcorruption=[[@{corruptionDie} + [[@{corruptionLuckyRoll}]] [Corruption Lucky Roll] ]]}}">Spell Fumble: Corruption</button>
        </div>

        <div class="sheet-col-6-23 sheet-vert-middle sheet-left">
          <button type="roll" class="sheet-roll sheet-vert-middle" name="roll_CorruptionTable" title="Roll this if you are required to roll on a Corruption Table"
          value="&{template:DccTabbed} {{background=[[1d3]]}} {{spell=1}} {{name=@{character_name}}} {{title=?{Corruption Table?|Minor,Minor|Major,Major|Greater,Greater} Corruption: @{spellName}}} {{flavortext=Compare result to ?{Corruption Table?|Minor,Minor|Major,Major|Greater,Greater} Corruption table.}} {{rolltype=Corruption Result:}} {{spellcorruption= [[@{corruptionTableDie} - @{spellBaseLevel} [Spell Level] + [[@{luckMod}]] [Luck Bonus] + [[@{corruptionLuckyRoll}]] [Corruption Lucky Roll] ]] }}">Corruption Tables Roll </button>
        </div>
      </div>
    </div>

    <!-- END spellbook <%= level %> row -->
  </fieldset>
</div>
