<% present_attr_name(suffix: attr_suffix) do |attr| %>
  <div class="sheet-row">
    <div class="sheet-width-35">
      <%= render partial: "shared/melee_weapons/name", locals: { attr: attr } %>
    </div>

    <div class="sheet-width-15">
      <%= render partial: "shared/melee_weapons/attack_die_selector", locals: { attr: attr } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/melee_weapons/to_hit_mod", locals: { attr: attr } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/melee_weapons/damage_dice", locals: { attr: attr } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/melee_weapons/damage_mod", locals: { attr: attr } %>
    </div>

    <div class="sheet-width-5 sheet-checkbox-row">
      <%= render partial: "shared/melee_weapons/show_advanced", locals: { attr: attr } %>
    </div>

    <div class="sheet-width-7_14286">
      <%= render partial: "shared/melee_weapons/button_attack", locals: { attr: attr } %>
    </div>

    <%= render partial: "shared/widgets/advanced_checkbox", locals: { attr_name: attr.name("meleeShowAdvanced"), attr_roll: attr.roll("meleeShowAdvanced") } %>

    <div class="sheet-melee-advanced sheet-row sheet-small-label">
      <div class="sheet-row sheet-vert-middle">
        <div class="sheet-width-10 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Magic bonus:</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/melee_weapons/magic_bonus", locals: { attr: attr } %>
        </div>
        <div class="sheet-width-13_33333 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">To Hit bonus:</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/melee_weapons/to_hit_bonus", locals: { attr: attr } %>
        </div>
        <div class="sheet-width-15 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Crit Range:</div>
        <div class="sheet-width-20">
          <%= render partial: "shared/melee_weapons/crit_range_selector", locals: { attr: attr } %>
        </div>
      </div>
      <div class="sheet-row">
        <div class="sheet-width-33_33333 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Damage bonus:</div>
        <div class="sheet-width-10" title="Bonus added to ONLY to damage rolls">
          <%= render partial: "shared/melee_weapons/damage_bonus", locals: { attr: attr } %>
        </div>
        <div class="sheet-width-15 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Wielded:</div>
        <div class="sheet-width-15">
          <%= render partial: "shared/melee_weapons/handedness", locals: { attr: attr } %>
        </div>
        <div class="sheet-width-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Pack Hunter:</div>
        <div class="sheet-width-5 sheet-left sheet-checkbox-row sheet-vert-middle">
          <%= render partial: "shared/melee_weapons/pack_hunter", locals: { attr: attr } %>
        </div>
      </div>
      <div class="sheet-row">
        <div class="sheet-width-10 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Notes:</div>
        <div class="sheet-width-90">
          <%= render partial: "shared/melee_weapons/notes", locals: { attr: attr } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
