<% with_scoped_subcontext(parent_context: context, name_prefix: "melee", suffix: attr_suffix) do |context| %>
  <div class="sheet-row">
    <% # AtkLuckyWeapon isn't used at level 0, but the attack roll needs it to be set. TODO: Have multiple versions of the attack roll for different use cases %>
    <input type="hidden" name="<%= context.attr "AtkLuckyWeapon" %>" value="0" readonly="readonly">
    <div class="sheet-width-35">
      <%= render partial: "shared/weapons/name", locals: { context: context } %>
    </div>

    <div class="sheet-width-15">
      <%= render partial: "shared/weapons/attack_die_selector", locals: { context: context } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/weapons/to_hit_mod_melee", locals: { context: context } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/weapons/damage_dice", locals: { context: context } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/weapons/damage_mod_melee", locals: { context: context } %>
    </div>

    <div class="sheet-width-5 sheet-checkbox-row">
      <%= render partial: "shared/weapons/show_advanced", locals: { namespace: "melee", context: context } %>
    </div>

    <div class="sheet-width-7_14286">
      <%= render partial: "shared/weapons/button_attack_melee", locals: { context: context } %>
    </div>

    <%= render partial: "shared/widgets/advanced_checkbox", locals: { namespace: "melee", attr_name: context.attr("ShowAdvanced"), attr_roll: context.attr_ref("ShowAdvanced") } %>

    <div class="sheet-melee-advanced sheet-row sheet-small-label">
      <div class="sheet-row sheet-vert-middle">
        <div class="sheet-width-10 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Magic bonus:</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/magic_bonus", locals: { context: context } %>
        </div>
        <div class="sheet-width-13_33333 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">To Hit bonus:</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/to_hit_bonus", locals: { context: context } %>
        </div>
        <div class="sheet-width-15 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Crit Range:</div>
        <div class="sheet-width-20">
          <%= render partial: "shared/weapons/crit_range_selector", locals: { context: context } %>
        </div>
      </div>
      <div class="sheet-row">
        <div class="sheet-width-33_33333 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Damage bonus:</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/damage_bonus", locals: { context: context } %>
        </div>
        <div class="sheet-width-15 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Wielded:</div>
        <div class="sheet-width-15">
          <%= render partial: "shared/weapons/handedness", locals: { context: context } %>
        </div>
        <div class="sheet-width-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Pack Hunter:</div>
        <div class="sheet-width-5 sheet-left sheet-checkbox-row sheet-vert-middle">
          <%= render partial: "shared/weapons/pack_hunter_melee", locals: { context: context } %>
        </div>
      </div>
      <div class="sheet-row">
        <div class="sheet-width-10 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Notes:</div>
        <div class="sheet-width-90">
          <%= render partial: "shared/weapons/notes", locals: { context: context } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
