<% with_scoped_subcontext(parent_context: context, name_prefix: "ranged", suffix: attr_suffix) do |context| %>
  <div class="sheet-row">
    <% # AtkLuckyWeapon isn't used at level 0, but the attack roll needs it to be set. TODO: Have multiple versions of the attack roll for different use cases %>
    <input type="hidden" name="<%= context.attr "AtkLuckyWeapon" %>" value="0" readonly="readonly">

    <%= render partial: "shared/weapons/ranged_weapons_hidden_attrs", locals: { context: context } %>

    <div class="sheet-width-6_25">
      <%= render partial: "shared/weapons/ammo", locals: { context: context } %>
    </div>

    <div class="sheet-width-20">
      <%= render partial: "shared/weapons/name", locals: { context: context } %>
    </div>

    <div class="sheet-width-13_04348">
      <%= render partial: "shared/weapons/attack_die_selector", locals: { context: context } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/weapons/to_hit_mod_ranged", locals: { context: context } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/weapons/damage_dice", locals: { context: context } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/weapons/damage_mod_ranged", locals: { context: context } %>
    </div>

    <div class="sheet-width-15">
      <%= render partial: "shared/weapons/attack_range_selector", locals: { context: context } %>
    </div>

    <div class="sheet-width-5 sheet-checkbox-row">
      <%= render partial: "shared/weapons/show_advanced", locals: { namespace: "ranged", context: context } %>
    </div>

    <div class="sheet-width-10">
      <%= render partial: "shared/weapons/button_attack_ranged", locals: { context: context } %>
    </div>

    <%= render partial: "shared/widgets/advanced_checkbox", locals: { namespace: "ranged", attr_name: context.attr("ShowAdvanced"), attr_roll: context.attr_ref("ShowAdvanced") } %>

    <div class="sheet-ranged-advanced sheet-row sheet-small-label">
      <div class="sheet-row">

        <div class="sheet-width-10 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Magic Bonus:</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/magic_bonus", locals: { context: context } %>
        </div>

        <div class="sheet-width-13_33333 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">To Hit bonus:</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/to_hit_bonus", locals: { context: context } %>
        </div>

        <div class="sheet-width-15 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Crit Range:</div>
        <div class="sheet-width-20">
          <%= render partial: "shared/weapons/crit_range_selector", locals: { context: context } %>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-width-33_33333 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Damage bonus:</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/damage_bonus", locals: { context: context } %>
        </div>

        <div class="sheet-width-15 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Type:</div>
        <div class="sheet-width-15">
          <%= render partial: "shared/weapons/ranged_weapon_type_selector", locals: { context: context } %>
        </div>

        <div class="sheet-width-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Pack Hunter:</div>
        <div class="sheet-width-5 sheet-checkbox-row sheet-vert-middle">
          <%= render partial: "shared/weapons/pack_hunter_ranged", locals: { context: context } %>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-width-10 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Notes:</div>
        <div class="sheet-width-35">
          <%= render partial: "shared/weapons/notes", locals: { context: context } %>
        </div>

        <div class="sheet-width-25 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Range (short/med/long):</div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/ranged_distance_short", locals: { context: context } %>
        </div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/ranged_distance_med", locals: { context: context } %>
        </div>
        <div class="sheet-width-10">
          <%= render partial: "shared/weapons/ranged_distance_long", locals: { context: context } %>
        </div>

      </div>
    </div>
  </div>
<% end %>
