<div class="sheet-maintab-content sheet-player">

  <h5 class="sheet-center">1+-level Character Sheet</h5>

  <p class="sheet-small-note">The main player character sheet.</p>

  <input type="hidden" name="attr_tab" class="sheet-subtab" value="1"/>
  <div class="sheet-subtab-bar">
    <input type="hidden" name="attr_tab" class="sheet-subtab" value="1"/>
    <button type="action" name="act_tab1">Core Stats</button>
    <button type="action" name="act_tab2">Background</button>
    <% if feature_lankhmar? %>
      <% # TODO once lankhmar feature flag is on, DIY up the subtab logic (here, workers, CSS) %>
      <%= shown_when_option_set("lankhmar") %>
      <button type="action" name="act_tablankhmar" class="<%= option_class_name "lankhmar", inline: true %>">Lankhmar</button>
    <% end %>
    <button type="action" name="act_tab3">Class</button>
    <button type="action" name="act_tab4">Weapons</button>
    <button type="action" name="act_tab5">Spellbook</button>
    <button type="action" name="act_tab6">Armor</button>
    <button type="action" name="act_tab7">Inventory</button>
    <button type="action" name="act_tab99">Show All</button>
  </div>

  <span class="sheet-spacer"></span>

  <%= render partial: "sections/core_stats", indent: 2 %>
  <%= render partial: "sections/background_information", indent: 2 %>
  <% if feature_lankhmar? %>
    <%= render partial: "sections/lankhmar" %>
  <% end %>
  <%= render partial: "sections/classes", indent: 2 %>
  <%= render partial: "sections/weapons", indent: 2 %>
  <%= render partial: "sections/spellbook", indent: 2 %>
  <%= render partial: "sections/armor", indent: 2 %>
  <%= render partial: "sections/inventory", indent: 2 %>

</div>
