<%= shown_when_option_set(:can_use_smite) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Smite<br></div>
    <div class="sheet-col-1-10 sheet-right">
      <select name="attr_smiteDie">
        <option value="d0" selected="selected">--</option>
        <option value="d3">d3</option>
        <option value="d4">d4</option>
        <option value="d5">d5</option>
        <option value="d6">d6</option>
        <option value="d7">d7</option>
        <option value="d8">d8</option>
        <option value="d10">d10</option>
        <option value="d10+1d1">d10+1</option>
        <option value="d10+2d1">d10+2</option>
        <option value="d10+3d1">d10+3</option>
      </select>
    </div>
    <div class="sheet-col-1-10 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_smiteDie"
      value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=Smite}} {{flavortext=Add this bonus to Attack and Damage rolls against those Unholy to }} {{rolltype=Smite : }} {{deity=@{ClericDeity} }} {{smite=[[ @{smiteDie} [Die Roll] ]]  }}">Smite</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center sheet-small-label">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_have_fallen_points) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Fallen Points<br></div>
    <div class="sheet-col-1-10 sheet-right">
      <select name="attr_FallenPoints">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_instill_bravery) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Instill Bravery<br></div>
    <input type="hidden" name="attr_instillBraveryLevel" value="(@{Level})">
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_InstillBraveryCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Starting Luck Mod + Personality Mod + Caster Level"><input class="sheet-underlined sheet-center" type="number" name="attr_instillBraveryCheck" value="[[([[@{luckStartingMod}]] + [[@{perMod}]] + @{instillBraveryLevel}) + @{InstillBraveryCheckMisc}]]" disabled="disabled"><br>Total Bonus</div>
    <input type="hidden" type="text" name="attr_instillBraveryDuration" value="[[1 + @{Level}]]">
    <div class="sheet-col-1-7 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_instillBravery"
      value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name}}} {{title=Instill Bravery}} {{flavortext=Embolden your teammates for}} {{rolltype=Holy Deed Check : }} {{deity=@{ClericDeity} }}  {{bravery=[[ @{ActionDie}cf<@{disapproval} [Dice Roll] + @{instillBraveryCheck} [Bonus] ]]  }} {{duration=@{InstillBraveryDuration}}} {{fearbonusCheck13=+1}} {{targetsCheck13=1}} {{fearbonusCheck19=+2}} {{targetsCheck19=[[1d3]]}} {{fearbonusCheck21=+3}} {{targetsCheck21=[[1d4]]}} {{fearbonusCheck24=+4}} {{targetsCheck24=[[1d6]]}} {{fearbonusCheck25=+5}} {{targetsCheck25=[[1d7]]}}">Instill Bravery</button>
    </div>
    <div class="sheet-col-1-4 sheet-right" title="Misc Notes"><input class="sheet-underline sheet-left" type="text" placeholder="Notes" name="attr_InstillBraveryNotes"></div>
  </div>
<% end %>

<%= shown_when_option_set(:can_cause_fear) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Cause Fear<br></div>
    <input type="hidden" name="attr_causeFearLevel" value="(@{Level})">
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_CauseFearCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Starting Luck Mod + Personality Mod + Caster Level"><input class="sheet-underlined sheet-center" type="number" name="attr_causeFearCheck" value="[[([[@{luckStartingMod}]] + [[@{perMod}]] + @{causeFearLevel}) + @{CauseFearCheckMisc}]]" disabled="disabled"><br>Total Bonus</div>
    <input type="hidden" type="text" name="attr_causeFearDuration" value="[[1 + @{Level}]]">
    <div class="sheet-col-1-7 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_CauseFear"
      value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name}}} {{title=Cause Fear}} {{flavortext=Strike fear in the hearts of the Unholy for}} {{rolltype=Holy Deed Check : }} {{deity=@{ClericDeity} }}  {{fear=[[ @{ActionDie}cf<@{disapproval} [Dice Roll] + @{causeFearCheck} [Bonus] ]]  }} {{duration=@{causeFearDuration}}} {{number=@{Level}}} {{targetsCheck13=1}} {{targetsCheck19=[[1d3]]}} {{targetsCheck21=[[1d5]]}} {{targetsCheck24=[[1d7]]}} {{targetsCheck25=[[1d8]]}}">Cause Fear</button>
    </div>
    <div class="sheet-col-1-4 sheet-right" title="Misc Notes"><input class="sheet-underline sheet-left" type="text" placeholder="Notes" name="attr_CauseFearNotes"></div>
  </div>
<% end %>

<%= shown_when_option_set(:can_cast_lay_on_hands_as_paladin) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Lay On Hands<br></div>
    <input type="hidden" name="attr_paladinLayOnHandsLevel" value="(@{Level})">
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_paladinLayOnHandsCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Starting Luck Mod + Personality Mod + Caster Level"><input class="sheet-underlined sheet-center" type="number" name="attr_paladinLayOnHandsCheck" value="[[([[@{luckStartingMod}]] + [[@{perMod}]] + @{paladinLayOnHandsLevel}) + @{paladinLayOnHandsCheckMisc} + @{layOnHandsLuckyRoll}]]" disabled="disabled"><br>Total Bonus</div>
    <div class="sheet-col-1-7 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_paladinLayOnHands"
      value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name}}} {{title=Lay on Hands}} {{flavortext=Healing in the name of}} {{rolltype=Heal Check : }} {{deity=@{ClericDeity} }}  {{layonhandspaly=[[ @{ActionDie}cf<@{disapproval} [Dice Roll] + @{paladinLayOnHandsCheck} [Bonus] ]]  }} {{condition=?{If healing a condition, enter condition name|None} }}">Lay On Hands</button>
    </div>
    <div class="sheet-col-1-4 sheet-right" title="Misc Notes"><input class="sheet-underline sheet-left" type="text" placeholder="Notes" name="attr_paladinLayOnHandsNotes"></div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_any_option_set(:can_cast_lay_on_hands_as_paladin, :can_instill_bravery, :can_cause_fear) do %>
  <div class="sheet-hd-row">Holy Deed Results Table
    <table>
      <tr>
        <th> Roll </th>
        <th> Lay on Hands <br>Same / Adjacent / Opposed</th>
        <th> Instill Bravery</th>
        <th> Cause Fear</th>
      </tr>
      <tr>
        <td> 1-11 </td>
        <td> Failure </td>
        <td> Failure </td>
        <td> Failure </td>
      </tr>
      <tr>
        <td> 12-13 </td>
        <td> 1 dice / None / None </td>
        <td> +1 bonus/ one target </td>
        <td> One target </td>
      </tr>
      <tr>
        <td> 14-19 </td>
        <td> 2 dice / 1 dice / None </td>
        <td> +2 bonus/1d3 targets </td>
        <td> 1d3 targets </td>
      </tr>
      <tr>
        <td> 20-21 </td>
        <td> 3 dice / 2 dice / 1 dice </td>
        <td> +3 bonus/1d4 targets </td>
        <td> 1d5 targets </td>
      </tr>
      <tr>
        <td> 22-24 </td>
        <td> 4 dice / 3 dice / 2 dice </td>
        <td> +4 bonus/1d6 targets </td>
        <td> 1d7 targets </td>
      </tr>
      <tr>
        <td> 25+ </td>
        <td> 4 dice / 3 dice / 2 dice </td>
        <td> +5 bonus/1d7 targets </td>
        <td> 1d8 targets </td>
      </tr>
    </table>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_cast_lay_on_hands_as_paladin) do %>
  <div class="sheet-col-1-1">
    <div class="sheet-row sheet-sub-header">
      <div class="sheet-col-1-3 sheet-center sheet-inspiration-label">PCs of Same Alignment</div>
      <div class="sheet-col-1-3 sheet-center sheet-inspiration-label">PCs of Adjacent Alignment</div>
      <div class="sheet-col-1-3 sheet-center sheet-inspiration-label">PCs of Opposed Alignment</div>
    </div>
    <div class="sheet-row">
      <div class="sheet-col-1-3"><textarea name="attr_paladinAlignSame"></textarea></div>
      <div class="sheet-col-1-3"><textarea name="attr_paladinAlignAdjacent"></textarea></div>
      <div class="sheet-col-1-3"><textarea name="attr_paladinAlignOpposed"></textarea></div>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>
