<%= shown_when_option_set(:can_use_mighty_deeds_as_ranger) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Ranger Path<br></div>
    <div class="sheet-col-1-6 sheet-right">
      <select name="attr_RangerPath">
        <option value="None" selected="selected">--</option>
        <option value="Archery">Archery Expert</option>
        <option value="Dual Wield">Two-Weapon Expert</option>
      </select>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:has_favored_enemies) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Favored Enemy<br></div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Favored Enemy (1st)"><input class="sheet-underlined sheet-center" type="text" name="attr_RangerFavoredEnemy"><br>1st Level</div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Favored Enemy (3rd)"><input class="sheet-underlined sheet-center" type="text" name="attr_rangerFavoredEnemy2"><br>3rd Level</div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Favored Enemy (6th)"><input class="sheet-underlined sheet-center" type="text" name="attr_rangerFavoredEnemy3"><br>6th Level</div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Favored Enemy (9th)"><input class="sheet-underlined sheet-center" type="text" name="attr_rangerFavoredEnemy4"><br>9th Level</div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_use_mighty_deeds_as_ranger) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Mighty Deeds of Arms<br></div>
    <div class="sheet-col-1-10 sheet-right">
      <select name="attr_DeedDie">
        <option value="d0" selected="selected">--</option>
        <option value="d3">d3</option>
        <option value="d4">d4</option>
        <option value="d5">d5</option>
        <option value="d6">d6</option>
        <option value="d7">d7</option>
        <option value="d8">d8</option>
        <option value="d10">d10</option>
        <option value="d10+1d1">d10+1</option>
      </select>
    </div>
    <div class="sheet-col-1-6 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_deedDie"
      value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=Mighty Deed of @{RangerPath}}} {{flavortext=Add this bonus to Attack and Damage roll.}} {{rolltype=Deed Die : }} {{deeddie=[[ @{DeedDie}cs>3 [Die Roll] ]] }} {{successtext=You accomplish a Mighty Deed (if attack roll also hits)!}}">Ranger Deed Die</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_climb_as_ranger) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Climb (Wilderness)<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_rangerClimbCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Agility Mod + Ranger Level + Born Under the Loom Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_rangerClimbCheck" value="[[[[@{agiMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{rangerClimbCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_rangerClimb"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Wilderness Climbing}} {{flavortext=Climbs in a Wilderness setting}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{rangerClimbCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Climb</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_find_and_disable_natural_trap) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Find Natural Traps<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_rangerFindTrapsCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Agility Mod + Ranger Level + Born Under the Loom or Fox's Cunning Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_rangerFindTrapsCheck" value="[[[[@{agiMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll} + @{rangerFindTrapsCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_rangerFindTraps"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Natural Traps}} {{flavortext=Looks around for hidden traps in the forest}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{rangerFindTrapsCheck} [Bonus] ]]  }}">Find Trap</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Build Natural Traps<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_rangerBuildTrapsCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Agility Mod + Ranger Level + Born Under the Loom Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_rangerBuildTrapsCheck" value="[[[[@{agiMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{rangerBuildTrapsCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_rangerBuildTraps"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Build Natural Trap}} {{flavortext=Sets an outdoor trap}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{rangerBuildTrapsCheck} [Bonus] ]]  }}">Build Traps</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Disable Natural Traps<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_rangerDisableTrapsCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Agility Mod + Ranger Level + Born Under the Loom or Fox's Cunning Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_rangerDisableTrapsCheck" value="[[[[@{agiMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll} + @{rangerDisableTrapsCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_rangerDisableTraps"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Neutralize Natural Trap}} {{flavortext=Attempts to disable or jam the trap}} {{rolltype=Skill Check : DC}} {{disabletrap=[[ @{ActionDie} [Dice Roll] + @{rangerDisableTrapsCheck} [Bonus] ]]  }} {{failtext=You set off the trap!!}}">Neutralize Traps</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_sneak_and_hide) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Sneak (Wilderness)<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_rangerSneakCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Agility Mod + Ranger Level + Born Under the Loom Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_rangerSneakCheck" value="[[[[@{agiMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{rangerSneakCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_rangerSneak"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Wilderness Sneaking}} {{flavortext=Attempts to move through the forest without making a sound}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{rangerSneakCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Sneak</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Hide (Wilderness)<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_rangerHideCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Agility Mod + Ranger Level + Born Under the Loom Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_rangerHideCheck" value="[[[[@{agiMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{rangerHideCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_RangerHide"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Wilderness Hiding}} {{flavortext=Attempts to blend in with the forest}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{rangerHideCheck} [Bonus] ]]  }}">Hide</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_stride) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Strider (Wilderness)<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_rangerStriderCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Agility Mod + Ranger Level + Born Under the Loom Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_rangerStriderCheck" value="[[[[@{agiMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{rangerStriderCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_rangerStrider"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Wilderness Strider}} {{flavortext=Walks or even runs without leaving tracks or being hampered by difficult terrain}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{rangerStriderCheck} [Bonus] ]]  }}">Strider</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:knows_survival) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Survival (Wilderness)<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_rangerSurvivalCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Personality Mod + Ranger Level + Born Under the Loom Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_rangerSurvivalCheck" value="[[[[@{perMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{rangerSurvivalCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_rangerSurvival"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Wilderness Survival}} {{flavortext=Uses wilderness skills to survive}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{rangerSurvivalCheck} [Bonus] ]]  }}">Survival</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>
